html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

form {
    margin-top: 200px;
    display: flex;
    flex-flow: column;
    width: 20%;
}

form button {
    width: 100px;
}